* {
    margin: 0;
    padding: 0;
}

.container {
    width: 350px;
    border-radius: 10px;
    margin: 50px auto;
    padding: 10px 20px;
    background-color: #ff8e8e;
}

header h3{
    padding: 10px 0;
    text-align: center;
}

main ol li{
    list-style-position: inside;
}

footer a {
    text-align: center;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: black;
    
}

footer a:hover {
    color: #ffffff;
}